<div class="container">
  <button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>
  <mat-horizontal-stepper [linear]="isLinear" (selectionChange)="stepChanged($event)">
    <mat-step [stepControl]="firstFormGroup" >

      <mat-card>
        <mat-card-content>
          Prosze wypelnic ponizesz pola. Pola z gwazdka sa wymagane.
        </mat-card-content>
      </mat-card>
      <form [formGroup]="firstFormGroup" fxLayout='column'>
        <ng-template matStepLabel>Ogloszenie</ng-template>
        <section>
          <div>
            <mat-form-field class="max-width">
              <mat-select placeholder="Kategoria" formControlName="category" name="category" required>
                <mat-option *ngFor="let category of categoryList" [value]="category.id">
                  {{category.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="max-width">
              <input matInput placeholder="Tytul" formControlName="firstCtrl" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="max-width">
              <!-- <textarea matInput placeholder="Tresc" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea> -->
              <textarea matInput placeholder="Tresc" formControlName="firstCtrl" required></textarea>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="max-width">
              <input matInput placeholder="Number tel" formControlName="phoneNumber">
            </mat-form-field>
            <mat-error *ngIf="firstFormGroup.get('phoneNumber').hasError('minlength')">
              Please enter a valid email address
            </mat-error>
          </div>
          <div>
            <mat-form-field class="max-width">
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-error *ngIf="firstFormGroup.get('email').hasError('email') && firstFormGroup.get('email').value.length > 0">
              Please enter a valid email address
            </mat-error>
          </div>
          <h3>Select files</h3>
          <mat-form-field class="max-width">
            <app-input-file #fileUpload formControlName="files" multiple="true" placeholder="Prosze wybrac zdjecia" ></app-input-file>
            <mat-icon matSuffix>folder</mat-icon>
            <mat-error *ngIf="firstFormGroup.get('files').hasError('required')">
              Please select a file
            </mat-error>
            <mat-error *ngIf="firstFormGroup.get('files').hasError('maxContentSize')">
              The total size must not exceed {{firstFormGroup.get('requiredfile')?.getError('maxContentSize').maxSize | byteFormat}} ({{firstFormGroup.get('requiredfile')?.getError('maxContentSize').actualSize
              | byteFormat}}).
            </mat-error>
          </mat-form-field>
        </section>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Dalej ></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Podglad</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperPrevious>Wroc</button>
          <button mat-raised-button color="primary" matStepperNext>Dalej ></button>
        </div>
      </form>
    </mat-step>
    <!-- <mat-step>
      <ng-template matStepLabel>Werfikacja</ng-template>
      <mat-card>
        Email zostanie wyslany na podany address w celu weryfikacji. Prosze klinac link w emailu. Ogloszenie nie bedzie o publikowane
        do czasu wefikacji adresu email

        <small>Prosze sprawdzic skrzynke "Spam" w razie dlugiego oczekiwania na email.</small>
      </mat-card>
      <form [formGroup]="verficationFormGroup" fxLayout='column'>
        <mat-form-field class="max-width">
          <input matInput placeholder="Imie" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field class="max-width">
          <input matInput placeholder="Nazwisko" formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field class="max-width">
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </form>
      <div>
        <button mat-raised-button color="primary">Zapisz</button>
      </div>
    </mat-step> -->
  </mat-horizontal-stepper>
</div>