 <app-layout>
   
 </app-layout>
 <!--
<div>
  <mat-toolbar class="mat-toolbar mat-primary mat-toolbar-single-row">
  <header fxLayout="column" fxFlexFill class="heder-section">
    <h1 fxFlex="100" class="mat-h1">Ogloszenia z Chicago i okolic</h1>
    <h2 fxFlex="100">Wyszukiwarka ogloszen</h2>
    <div fxFlex="100">
    </div>
  </header>
  <i class="material-icons app-toolbar-menu">menu</i>
  <span class="app-toolbar-filler"></span>

</div>

<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Checkbox configuration</h2>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
    </section>

    <section class="example-section">
      <label class="example-margin">Align:</label>
      <mat-radio-group [(ngModel)]="align">
        <mat-radio-button class="example-margin" value="start">Start</mat-radio-button>
        <mat-radio-button class="example-margin" value="end">End</mat-radio-button>
      </mat-radio-group>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="checked" [(indeterminate)]="indeterminate" [align]="align" [disabled]="disabled">
        I'm a checkbox
      </mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>
<div class="bounds">

  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

    <div fxFlex="15" class="sec1" fxFlex.xs="55">
      first-section
    </div>
    <div fxFlex="30" class="sec2">
      second-section
    </div>
    <div fxFlex="55" class="sec3" fxFlex.xs="15">
      third-section
    </div>

  </div>

</div> -->